*{
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}


*{margin:0;}
.cantainer{
	width:100%;
	background-color:#ddd8d5;
	}
.name{
	width:200px;
	padding:50px;
	float:left;
	margin-left:20px;
	color:#58342a;
	font-size:90px;
	}

.home{
	width:600px;
	margin-left:1000px;
	padding:15px;
	}

ul li{
	display:inline;
	margin-right:40px;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	color:#58342a;
	}

hr{
	width:305px;
	border-radius:5px;
	border:solid #58342a 3px;
	}

.img1{
	background-color:#ddd8d5;
	float:left;
	}

.clear{clear:both;}

.menu{background-color:#ddd8d5;}

.hr{
	margin-left:670px;
	margin-top:0;
	width:170px;
	border-radius:5px;
	border:solid #58342a 3px;
	}

.pto1{
	float:left;
	width:30%;
	margin-top:-180px;
	margin-left:80px;
	}

.about{
	width:50%;
	float:right;}

.content{
	height:380px;
	background-color:#ddd8d5;
	}

.t1{
	color:#fb5432;
	font-size:40px;
	}

.t2{
	color:white;
	font-size:70px;
	}

.t3{
	color:#fb5432;
	font-size:25px;
	}


h1{
	margin-bottom:20px;
	text-align:center;
	color:#58342a;
	}

.img2{
	margin-left:155px;
	width:396px;
	float:left;
	transition:0.7s;
	}
.img3{
	width:431px;
	float:left;
	transition:0.7s;
	}
.img4{
	width:384px;
	float:left;
	transition:0.7s;
	}

.dish{
	color:white;
	text-align:center;
	}

.o{
	width:300px;
	color:white;
	background-color:#58342a;
	text-align:center;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	border-radius:50px;
	}

.full{width:100%;}

.bottom{
	padding:3px;
	background-color:#58342a;
	color:white;
	text-align:center;
	margin-top:0;
	border-radius:50px;
	}

.bot{
	width:100%;
	padding:3px;
	background-color:#58342a;
	color:white;
	border-radius:50px;
	}
.mid{
	width:100%;
	height:370px;
	background-color:#58342a;
	color:white;
	border-radius:25px;
	}
.active{
	background-color:white;
	border-radius:10px;
	padding:5px;
	}

.form{
	height:400px;
	background-color:#ddd8d5;
	}
	
.full{
	margin:0 auto;
	width:500px;
	}

.us{
	border:solid #58342a 5px;
	width:200px;
	margin-right:120px;
	float:right;
	margin-top:50px;
	}

.button{
	background-color:olive;
	border-radius:10px;
	}

.contact{
	margin-right:180px;
	margin-top:-190px;
	float:right;
	}

.shop{
	margin-top:-899px;
	margin-left:60px;
	}
.img2:hover{transform:scale(1.05)}
.img3:hover{transform:scale(1.05)}
.img4:hover{transform:scale(1.05)}
